<h1 class="text-center">Employee Registration Form</h1>
<section class="container">
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/new-user"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >New User</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/list-of-users"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >List of Users</a
      >
    </li>
  </ul>

  <!-- Router outlet to display routed components -->
  <router-outlet></router-outlet>
</section>
